<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>增加员工</title>
    <link rel="stylesheet" href="./css/form.css" type="text/css">
</head>
<div id="nav">
    <ul>
        <li><a href="/manager/">首页</a>
        </li>
        <li><a href="#">员工管理</a>
            <ul>
                <li><a href="/manager/addWorker/">增加员工</a></li>
                <li><a href="/manager/dropworker/">开除员工</a></li>
                <li><a href="showall/">查看所有</a></li>
            </ul>
        </li>
        <li><a href="#">车辆管理</a>
            <ul>
                <li><a href='#'>增加车辆</a></li>
                <li><a href='#'>车辆报废</a></li>
                <li><a href='#'>查看车辆</a></li>
            </ul>
        </li>
        <li><a href="/manager/">{{data}}</a>
        </li>
    </ul>
</div>

<body>
    <div id="content">
        <label>增加员工</label>
        <form method="post" id="show-form">
            <p><label>姓名：</label>
                <input class="input" type="text" name="wname" /></p>
            <p><label>电话：</label>
                <input class="input" type="tel" name="wtel" /></p>
            <p><label>登录密码：</label>
                <input class="input" type="password" name="wpasw" /></p>
            <p>
                <label>确认密码：</label>
                <input class="input" type="password" name="Cpsw" />
            </p>
            <p><label>身份证号：</label>
                <input class="input" type="text" name="widnum" /></p>
            <input class="button" type="submit" name="addworker" value="增加员工">
        </form>
    </div>
</body>

</html>