<!DOCTYPE html>
<html>

<head>
    <title>完成订单信息</title>
    <link href="/ststic/complete.css" type="text/css">
</head>

<body>
    <form method="post">
        <p>
            <label>车辆编号</label>
            <input type="text" name="carid">
            <p>
                <label>驾驶员</label>
                <input type="text" name="DName">
            </p>
            <p>
                <label>驾驶证号</label>
                <input type="text" name="DNo">
            </p>
            <input type="submit" value="确认提交" name="confirm" />
            <input type="submit" value="  取消  " name="cancel" />
    </form>
</body>

</html>