<!DOCTYPE html>
<html>

<head>
    <title>删除职工</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/form.css" type="text/css">
</head>
<div id="nav">
    <ul>
        <li><a href="/manager/">首页</a>
        </li>
        <li><a href="#">员工管理</a>
            <ul>
                <li><a href="/manager/addWorker/">增加员工</a></li>
                <li><a href="/manager/dropworker/">开除员工</a></li>
                <li><a href="showall/">查看所有</a></li>
            </ul>
        </li>
        <li><a href="#">车辆管理</a>
            <ul>
                <li><a href='#'>增加车辆</a></li>
                <li><a href='#'>车辆报废</a></li>
                <li><a href='#'>查看车辆</a></li>
            </ul>
        </li>
        <li><a href="/manager/">{{data}}</a>
        </li>
        <li><a href="/logout/">退出登录</a></li>
    </ul>
</div>

<body>
    <form method="post">
        <label>职工号</label>
        <input type="number" name="wid" />
        <label>职工姓名</label>
        <input type="text" name="wname" />
        <input type="submit" name="confirm" value="confirm" />
    </form>
</body>

</html>