<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>经理页面</title>
    <link rel="stylesheet" href="./css/form.css" type="text/css">
</head>
<div id="nav">
    <ul>
        <li><a href="/manager/">首页</a>
        </li>
        <li><a href="#">员工管理</a>
            <ul>
                <li><a href="/manager/addWorker/">增加员工</a></li>
                <li><a href="/manager/dropworker/">开除员工</a></li>
                <li><a href="showall/">查看所有</a></li>
            </ul>
        </li>
        <li><a href="#">车辆管理</a>
            <ul>
                <li><a href='#'>增加车辆</a></li>
                <li><a href='#'>车辆报废</a></li>
                <li><a href='#'>查看车辆</a></li>
            </ul>
        </li>
        <li><a href="/manager/">{{data}}</a>
        </li>
    </ul>
</div>
<body>
    <form method="post">
        <input type="submit" name='logout' value='退出' />
</body>

</html>