<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>还车信息</title>
    <link rel="stylesheet" href="./css/form.css" type="text/css">
</head>
<div id="nav">
    <ul>
            <li><a href="/worker/">首页</a>
            </li>
            <li><a href="#">订单管理</a>
                <ul>
                    <li><a href='/generate/'>产生订单</a></li>
                    <li><a href='/show/'>预约订单</a></li>
                </ul>
            </li>
            <li><a href="#">订单查询</a>
                <ul>
                    <li><a href='/showRunning/'>进行中</a></li>
                    <li><a href='/showWaitting/'>等待验收</a></li>
                    <li><a href='/showFinished/'>已完成</a></li>
                </ul>
            </li>
            <li><a href="/worker/">{{data}}</a>
            </li>
    </ul>
 </div>   

<body>
    <div>
        <h1>订单信息显示</h1>
        <table border="1">
            <thead>
                <th>订单号</th>
                <th>车辆id</th>
                <th>司机姓名</th>
                <th>完成日期</th>
                <th>归还时间</th>
                <th>订单状态</th>
            </thead>
            <tbody>
                {%for line in data%}
                <tr>
                    <td>{{line.OrderNO}}</td>
                    <td>{{line.cid}}</td>
                    <td>{{line.Drivername}}</td>
                    <td>{{line.completedate}}</td>
                    <td>{{line.frereturndate}}</td>
                    <td>{{line.status}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div>
        <h1>填写要完成的订单</h1>
        <form method="post">
            <label>订单号：</label>
            <input type="number" min="0" name="orderID" placeholder="输入17位订单号" />
            <input type="submit" name="confirm" value="confirm" />
        </form>
    </div>
</body>

</html>