<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>显示车辆信息</title>
    <link rel="stylesheet" href="/static//css/form.css" type="text/css">
</head>
<div id="nav">
    <ul>
        <!--<li><a href="/manager/">{{data}}</a>-->
        <!--<ul>
                <li><button name="logout" value="退出登陆" /></li>
            </ul>-->
        <li><a href="/manager/">首页</a>
        </li>
        <li><a href="#">员工管理</a>
            <ul>
                <li><a href="/manager/addWorker/">增加员工</a></li>
                <li><a href="/manager/dropworker/">开除员工</a></li>
                <li><a href="showall/">查看所有</a></li>
            </ul>
        </li>
        <li><a href="#">车辆管理</a>
            <ul>
                <li><a href='#'>增加车辆</a></li>
                <li><a href='#'>车辆报废</a></li>
                <li><a href='#'>查看车辆</a></li>
            </ul>
        </li>
        <li><a href="/manager/">{{data}}</a>
        </li>
    </ul>
</div>

<body>
    <h1>满足条件的车辆信息</h1>
    <table border="1">
        <thead>
            <th>车辆ID</th>
            <th>车牌号</th>
            <th>品牌</th>
            <th>座位数</th>
            <th>是否为自动挡（1为自动挡 0为手动挡）</th>
            <th>租金(元/天)</th>
            <th>押金</th>
            <th>是否需要</th>
        </thead>

        <tbody>
            {%for line in data%}
            <tr>
                <td>{{line.cid}}</td>
                <td>{{line.Cnumber}}</td>
                <td>{{line.CTbrand}}</td>
                <td>{{line.CTseats}}</td>
                <td>{{line.CTgears}}</td>
                <td>{{line.CTprice}}</td>
                <td>{{line.CTcost}}</td>

                <td>
                    <form method="post">
                        <input type="submit" value="confirm" name="confirm"></input>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>