<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>所有职工</title>
    <link rel="stylesheet" href="/static/css/form.css" type="text/css">
</head>
<div id="nav">
    <ul>
        <!--<li><a href="/manager/">{{data}}</a>-->
        <!--<ul>
                <li><button name="logout" value="退出登陆" /></li>
            </ul>-->
        <li><a href="/manager/">首页</a>
        </li>
        <li><a href="#">员工管理</a>
            <ul>
                <li><a href="/manager/addWorker/">增加员工</a></li>
                <li><a href="/manager/dropworker/">开除员工</a></li>
                <li><a href="showall/">查看所有</a></li>
            </ul>
        </li>
        <li><a href="#">车辆管理</a>
            <ul>
                <li><a href='#'>增加车辆</a></li>
                <li><a href='#'>车辆报废</a></li>
                <li><a href='#'>查看车辆</a></li>
            </ul>
        </li>
        <li><a href="/manager/">{{data}}</a>
        </li>
    </ul>
</div>

<body>
    <h1>本店所有在职员工信息</h1>
    <table border="1">
        <thead>
            <th>职工ID</th>
            <th>职工姓名</th>
            <th>职工电话号码</th>
            <th>职工身份证号</th>
            <th>职工身份</th>
        </thead>
        <tbody>
            {%for line in data%}
            <tr>
                <td>{{line.id}}</td>
                <td>{{line.wname}}</td>
                <td>{{line.wtel}}</td>
                <td>{{line.widnumber}}</td>
                <td>{{line.wtittle}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>

</html>