<!DOCTYPE html>
<html>

<head>
    <title>所有职工</title>
</head>

<body>
    <h1>本店所有在职员工信息</h1>
    <table border="1">
        <thead>
            <th>职工ID</th>
            <th>职工姓名</th>
            <th>职工电话号码</th>
            <th>职工身份证号</th>
            <th>职工身份</th>
        </thead>
        <tbody>
            {%for line in data%}
            <tr>
                <td>{{line.id}}</td>
                <td>{{line.wname}}</td>
                <td>{{line.wtel}}</td>
                <td>{{line.widnumber}}</td>
                <td>{{line.wtittle}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>

</html>