<!DOCTYPE html>
<html>

<head>
    <title>员工界面</title>
    <link rel="stylesheet" href="/static/css/worker.css" type="text/css">
</head>

<body>
    <div id="nav">
        <ul>
            <li><a href="/worker/">首 页</a> | </li>
            <li><a href="/generate/">产生订单</a> | </li>
            <li><a href="/show/">预约订单</a> | </li>
            <li><a href="/showRunning/">进行中</a> | </li>
            <li><a href="/showWaitting/">等待验收</a> | </li>
            <li><a href="/showFinished/">已完成</a> </li>
        </ul>
    </div>
    <p/>
    <div id="content">
        <form method="post" id="show-form">
            <p><label>车型</label>
                <input class="input" type="text" name="brand" />
                <label>座位数</label>
                <input class="input" type="number" name="seats" />
                <select name="gears">
                <option value="0">手动挡</option>
                <option value="1">自动挡</option>
            </select></p>
            <input class="inputdate" type="date" name="startdate" />
            <input class="inputdate" type="date" name="enddate" />
            <input class="button" type="submit" name="showtype">
        </form>
    </div>
</body>

</html>